:root {
  font-size: 40%;
}

#page-landing {
  background-color: var(--color-primary-dark);
}

#page-landing #container {
  color: var(--color-text-in-primary);
}

.logo-container img {
  height: 10rem;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.hero-image {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  margin-right: 1.6rem;
  font: 700 2.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-button-text);
  transition: background 0.2s;
}

.buttons-container a.study {
  background: var(--color-primary-lighter);
}

.buttons-container a.study:hover {
  background: var(--color-primary-light);
}

.buttons-container a.give-classes {
  background: var(--color-secondary);
  margin-right: 0;
}

.buttons-container a.give-classes:hover {
  background: var(--color-secondary-dark);
}

.total-connections {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-connections img {
  margin-left: 0.8rem;
}
